:root {
  --back-color: rgb(231, 231, 231);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

body {
  background-color: var(--back-color);
}

.container {
  display: flex;
  flex-direction: column;
  width: 1000px;
  margin: auto;
}

header {
  display: flex;
  background-color: var(--back-color);
}

.profile-photo {
  width: 300px;
}

.name {
  flex-grow: 1;
  align-self: center;
  text-align: center;
}

.name h1,
h2 {
  font-family: "Questrial", sans-serif;
}

.name > h1 {
  font-size: 70px;
}

.name > h2 {
  font-size: 35px;
}

main {
  display: flex;
}

.section-header {
  font-size: 30px;
}

.section-hr {
  width: 95%;
  height: 3px;
  margin: auto;
  background-color: white;
}

.main-content {
  flex-grow: 1;
  background-color: cornflowerblue;
}

aside {
  width: 300px;
  background-color: darkblue;
}

footer {
  background-color: darkturquoise;
}
